.custom__search__tabs {
  .ant-tabs-nav .ant-tabs-nav-wrap {
    scrollbar-width: none;
    .ant-tabs-nav-list {
      background-color: white;
      border-radius: 8px;
      border: 1px solid #dde1e6;

      .ant-tabs-tab {
        padding: 10px;
      }

      .ant-tabs-tab-active {
        transition: all 0.5s ease-in-out;
        border-radius: 7px;

        .ant-tabs-tab-btn {
          color: #ffffff;
          font-size: 16px;
          font-weight: 500;
          z-index: 10;
        }
      }

      .ant-tabs-ink-bar {
        height: 100%;
        border-radius: 7px;
      }
    }
  }
}

.testcase-card {
  .ant-card-head {
    padding: 12px 24px;
  }

  .ant-card-body {
    padding: 16px 24px;
  }
}

.custom__table {
  .ant-table-thead > tr > th {
    background-color: #fafafa;
    font-weight: 600;
    font-size: 1rem !important;
  }

  .ant-table-tbody > tr > td {
    font-size: 1rem !important;
  }

  .ant-table-tbody > tr:nth-child(odd) > td {
    background-color: #fcfcfc;
  }

  .ant-table-tbody > tr:hover > td {
    background-color: #e6f7ff !important;
  }
}
