.no__border__radius__card {
  border-radius: 0px !important;
}

.custom__select .ant-select-selector {
  height: 40px !important;
  padding: 5px !important;
}

.custom__select {
  height: 40px !important;
  padding: 5px !important;
}
