.sidebar-sider {
  position: fixed;
  top: auto;
  bottom: 0;
  z-index: 10;
  height: full;
  background: #ffffff;
  box-shadow: 4px 0 12px rgba(17, 24, 39, 0.08);
  width: 30% !important;
  min-width: 200px;
  max-width: 400px;

  &.ant-layout-sider-collapsed {
    width: 80px !important;
    min-width: 80px;
    max-width: 80px;
  }
}

.sidebar-menu-wrapper {
  .sidebar-menu,
  .ant-menu {
    font-size: 1.25rem !important;

    .ant-menu-item {
      font-size: 1.25rem !important;
    }

    .ant-menu-submenu-title {
      font-size: 1.25rem !important;
    }

    .ant-menu-item-selected {
      background-color: #e6f4ff !important;
      color: #1890ff !important;
      font-weight: 500;
      font-size: 1.25rem !important;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: #0050b3;
      }

      a {
        color: #1890ff !important;
        font-weight: 500;
      }

      .anticon {
        color: #1890ff !important;
      }
    }

    .ant-menu-item:hover:not(.ant-menu-item-selected) {
      background-color: #f5f5f5 !important;
    }

    .ant-menu-submenu-inline {
      .ant-menu-item-selected {
        background-color: #e6f4ff !important;
        color: #1890ff !important;
        font-weight: 500;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 3px;
          background-color: #0050b3;
        }

        a {
          color: #1890ff !important;
          font-weight: 500;
        }

        .anticon {
          color: #1890ff !important;
        }
      }
    }

    .ant-menu-item {
      position: relative;
    }
  }
}
